*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-text: #fff;
  --color-bg: rgb(71, 50, 171);
  --color-link: #fff;
  --color-link-hover: #fff;
  --page-padding: 1.5rem 2rem;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: area-normal, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img {
  outline: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding);
}

.iic_logo img {
  width: 120px;
  height: 80px;
}

.mit-logo img {
  width: 120px;
  height: 60px;
}
